<body class="main-page">
    <div>
        <h1>Welcome to LeMoovie</h1>

        <div class="buttons">
            <button mat-button (click)="openUserRegistrationDialog()"
                style="background-color: #455d7a; color: #fff; margin-right: 10px; margin-left: 10px;">
                Sign Up
            </button>

            <button mat-button (click)="openUserLoginDialog()"
                style="background-color: #455d7a; color: #fff; margin-right: 10px;">
                Login
            </button>
        </div>
    </div>
</body>