@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400&display=swap');

.page-background {
    background-color: #323643;
    height: auto;
    overflow: hidden;
    font-family: 'Raleway';
}

.movie-grid {
    height: 100%;
}

mat-toolbar {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
}


mat-icon {
    margin-right: 10px;
    cursor: pointer;
    color: #f23557;
}

mat-card {
    box-shadow: 10px 10px 22px rgba(187, 195, 196, 0.1);
    background-color: transparent;
    height: 540px;
}

mat-card-title {
    margin: 20px;
    text-align: center;
    font-size: 26px;
    font-weight: 400;
    color: #f7f7f7;
}

mat-card-actions {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
}

mat-card-actions button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #929aab;
    margin: 15px;
    font-size: 17px;
}

mat-card-actions button:hover {
    transition: 0.6s ease-in-out;
    background: #93deff;
    color: #323643;
    border-radius: 8px;
}

.movie-image {
    margin-left: 25px;
    width: 250px;
    height: auto;
}

.profile-btn,
.logout-btn {
    font-size: 18px;
    padding: 12px 16px;
}


