@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400&display=swap');

.page-background {
    background-color: #323643;
    height: 200vh;
    overflow: hidden;
    font-family: 'Raleway';
}

mat-toolbar {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
}

.movies-btn,
.logout-btn {
    font-size: 18px;
    padding: 12px 16px;
}

.profile-cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card-info {
    width: 400px;
    height: 260px;
    position: relative;
    top: 20px;
    background-color: #f7f7f7;
}

.card-update {
    width: 400px;
    background-color: #f7f7f7;
}

.card-info mat-card-title {
    font-size: 26px;
    color: #323643;
}

.card-info h3 {
    font-size: 20px;
}

.card-info p {
    font-size: 18px;
    color: #606470;
}

.card-update mat-card-title {
    font-size: 22px;
    color: #323643;
}

.card-update input {
    font-size: 17px;
    color: #606470;
}

.avatar {
    background-image: url(./astronaut.png);
    background-size: cover;
    box-shadow: 6px 2px 4px rgba(0, 0, 0, 0.3);
}

mat-card-content form {
    display: flex;
    flex-direction: column;
}

mat-card-actions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

mat-card-actions button {
    font-size: 15px;
}

.movie-grid {
    margin: 12%;
}

.favourite-movies h1 {
    text-align: center;
    font-weight: 300;
    color: #f7f7f7;
}

.movie-card {
    box-shadow: 10px 10px 22px rgba(187, 195, 196, 0.1);
    background-color: transparent;
    height: 540px;
}

mat-card-title {
    margin: 20px;
    text-align: center;
    font-size: 26px;
    font-weight: 400;
    color: #f7f7f7;
}

.movie-image {
    position: relative;
    width: 250px;
    height: auto;
    margin: 10px;
}

mat-card button {
    align-self: center;
}